
      <div class="header">
         <div class="logo">
            <%= image_tag 'logo.PNG' %>

         </div>
         <div class="nav">
            <ul>
               <li><%= link_to 'Home', home_path() %></li>
               <li><%= link_to 'About', about_path() %></li>
               <li><%= link_to 'Portfolio', portfolio_path() %></li>
               <li><%= link_to 'Blog', blog_path() %></li>
               <li><%= link_to 'Contact me', contact_path() %></li>
            </ul>
         </div>

      </div>
      <div class="main">
         <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
            <div class="col-md-3" style="margin-top:230px">
               <h2>Hello. My name is Groveet and I have creative ideas and build websites</h2>
            </div>
         </div>
         <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
            <div class="col-md-3">
               <button type="button" class="btn btn-default">View my work</button>
            </div>
         </div>
      </div>
      <div class="footer">
      <div class="soc">
         <div class="row">
            <div class="col-md-3"><img src="" alt=""><a href="">facebook</a></img></div>
            <div class="col-md-3"><img src="" alt=""><a href="">twitter</a></img></div>
            <div class="col-md-3"><img src="" alt=""><a href="">skype</a></img></div>
            <div class="col-md-3"><img src="" alt=""><a href="">tublr</a></img></div>
         </div>
      </div>

